.wrapper {
    flex: 1;
    justify-content: right;
    align-items: center;
    display: flex;
}

button {
    background: transparent;
    border: none;
}

.button {
    --button-color: black;
    overflow: hidden;
}

.button .hamburger {
    transition: translate 1s, rotate 1s;
}

.button[aria-expanded="true"] .hamburger {
    translate: 3px -3px;
    rotate: 0.125turn;
}

.button .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.button[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}
