.wrapper {
    background-image: linear-gradient(
            180deg,
            hsl(209deg 90% 62%) 0%,
            hsl(205deg 88% 61%) 10%,
            hsl(201deg 87% 60%) 20%,
            hsl(197deg 86% 59%) 30%,
            hsl(193deg 85% 58%) 40%,
            hsl(189deg 84% 57%) 50%,
            hsl(185deg 82% 56%) 60%,
            hsl(181deg 81% 55%) 70%,
            hsl(177deg 80% 54%) 80%,
            hsl(174deg 78% 53%) 90%,
            hsl(170deg 77% 52%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
